@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

* {
  background-color: #181818;
  color: beige;
  font-family: Lato;
}

.navbar-brand {
  font-weight: bold;
  font-size: 30px;
  font-family: Lato;
}

.navbar-brand img {
  width: 60px;
}

.procesar {
  display: none;
}

.ShowContents {
  background-color: rgba(0, 0, 0, 0.671);
  z-index: 100;
  width: 100%;
  height: 1000000vh;
  position: fixed;
  display: block;
}

.flower-spinner,  .flower-spinner * {
  box-sizing: border-box;
}

.flower-spinner {
  background-color: rgba(0, 0, 0, 0.671);
  height: 70px;
  width: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 18%;
  margin-left: 48%;
}

.flower-spinner .dots-container {
  height: calc(70px / 7);
  width: calc(70px / 7);
}

.flower-spinner .smaller-dot {
  background: #1db954;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  animation: flower-spinner-smaller-dot-animation 2.5s 0s infinite both;

}

.flower-spinner .bigger-dot {
  background: #1db954;
  height: 100%;
  width: 100%;
  padding: 10%;
  border-radius: 50%;
  animation: flower-spinner-bigger-dot-animation 2.5s 0s infinite both;
}

@keyframes flower-spinner-bigger-dot-animation {
  0%, 100% {
    box-shadow: #1db954 0px 0px 0px,
    #1db954 0px 0px 0px,
    #1db954 0px 0px 0px,
    #1db954 0px 0px 0px,
    #1db954 0px 0px 0px,
    #1db954 0px 0px 0px,
    #1db954 0px 0px 0px,
    #1db954 0px 0px 0px;
  }

  50% {
    transform: rotate(180deg);
  }

  25%, 75% {
    box-shadow: #1db954 26px 0px 0px,
    #1db954 -26px 0px 0px,
    #1db954 0px 26px 0px,
    #1db954 0px -26px 0px,
    #1db954 19px -19px 0px,
    #1db954 19px 19px 0px,
    #1db954 -19px -19px 0px,
    #1db954 -19px 19px 0px;
  }

  100% {
    transform: rotate(360deg);
    box-shadow: #1db954 0px 0px 0px,
    #1db954 0px 0px 0px,
    #1db954 0px 0px 0px,
    #1db954 0px 0px 0px,
    #1db954 0px 0px 0px,
    #1db954 0px 0px 0px,
    #1db954 0px 0px 0px,
    #1db954 0px 0px 0px;
  }
}

@keyframes flower-spinner-smaller-dot-animation {
  0%, 100% {
    box-shadow: #1db954 0px 0px 0px,
    #1db954 0px 0px 0px,
    #1db954 0px 0px 0px,
    #1db954 0px 0px 0px,
    #1db954 0px 0px 0px,
    #1db954 0px 0px 0px,
    #1db954 0px 0px 0px,
    #1db954 0px 0px 0px;
  }

  25%, 75% {
    box-shadow: #1db954 14px 0px 0px,
    #1db954 -14px 0px 0px,
    #1db954 0px 14px 0px,
    #1db954 0px -14px 0px,
    #1db954 10px -10px 0px,
    #1db954 10px 10px 0px,
    #1db954 -10px -10px 0px,
    #1db954 -10px 10px 0px;
  }

  100% {
    box-shadow: #1db954 0px 0px 0px,
    #1db954 0px 0px 0px,
    #1db954 0px 0px 0px,
    #1db954 0px 0px 0px,
    #1db954 0px 0px 0px,
    #1db954 0px 0px 0px,
    #1db954 0px 0px 0px,
    #1db954 0px 0px 0px;
  }
}
