.confirmation {
    font-size: 17px;
    font-weight: bold;
}

.start-div p {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 25px;
}

.outer-container {
    width: 100%;
    background: #121212;
    border-radius: 5px;
    padding: 15px;
    box-shadow: 0px 1px 10px black;
}

.outer-container h3 {
    font-weight: 400px;
    margin-bottom: 15px;
    background: #121212;
    text-align: center;
}

.outer-container a {
    background: #1DB954;
    color: black;
    font-weight: bold;
}

.inner_container {
    overflow: auto;
    margin-bottom: 15px;
    height: 300px;
    background: #121212;
}

.inner_container p {
    font-size: 17px;
    margin: 5px;
    padding: 5px;
    background: #121212;
}

.inner_container p:hover {
    background: #1DB954;
    color: black;
    font-weight: bold;
}

.inner_container::-webkit-scrollbar{
    width: 5px;
}

.far {
    background: #1db954;
    font-size: 20px;
}