@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

* {
    background-color: #181818;
    color: beige;
    font-family: Lato;
}

.navbar-brand img {
    width: 60px;
}

#navbarDropdown, .dropdown-item {
    color: beige;
}

.dropdown-item p {
    margin-bottom: 0px;
    border-radius: 5px;
}
