.login {
    text-align: center;
}

.login a {
    background: #1DB954;
    color: black;
    font-weight: bold;
}

.login img {
    padding-top: 50px;
    width: 200px;
    display:block;
    margin:auto;
}

.fab {
    background: #1db954;
    font-size: 25px;
}

.titulo {
    padding-top: 30px;
    margin-bottom: 50px;
}

.subtitulo {
    margin-bottom: 50px;
}