{% extends 'core/base.html' %}
{% load static %}

{% block title %} Home {% endblock title %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static '/core/css/home.css' %}">
{% endblock stylesheet %}

{% block contents %}

<div class="container">
    <div class="row home subtitulo">
        <h3>Haz clic en el siguiente botón para generar, con las canciones que te gustan en Spotify, una lista de reproducción para
            cada estado de ánimo: feliz, relajado y triste. Luego, puedes escoger cuáles añadir a tu cuenta de Spotiy.</h3>
    </div>
    <div class="row">
        <div class="home">
            <a href="{% url 'core:playlist_page' %}" class="btn"><i class="fas fa-music"></i> Obtener mis canciones </a>
        </div>
    </div>
</div>

{% endblock contents %}