{% extends 'core/base.html' %}
{% load static %}

{% block title %} Login {% endblock title %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static '/core/css/login.css' %}">
{% endblock stylesheet %}

{% block contents %}

<div class="container">

    <div class="row login titulo">
        <h1>Bienvenido a Sentify</h1>
    </div>

    <div class="row login subtitulo">
        <h3>Crea listas de reproducción personalizadas en tu cuenta de Spotify basadas en tu estado de ánimo.</h3>
    </div>

    <div class="row">
        <div class="login">
            <a href="{% url 'social:begin' 'spotify' %}" class="btn"><i class="fab fa-spotify"></i> Ingresa con Spotify </a>
        </div>
    </div>

</div>

{% endblock contents %}