{% extends 'core/base.html' %}
{% load static %}

{% block title %} Playlist {% endblock title %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static '/core/css/playlist.css' %}">
{% endblock stylesheet %}

{% block contents %}

<div class="container">

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <p class="p-2 confirmation bg-success text-white">{{ message }}</p>
        {% endfor %}
    </ul>
    {% endif %}

    <div class="row">
        <div class="start-div">
            <p>¡Aquí están tus listas de reproducción!</p>
            <p>Escoge cuáles deseas añadir a tu cuenta de Spotify.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="outer-container">
                <h3>Escucha esta selección cuando la Felicidad te atrape.</h3>
                <div class="inner_container">
                    {% for song in happy_songs %}
                    <p>{{song.0}} - {{song.1}}</p>
                    {% endfor %}
                </div>
                <div class="d-grid gap-2 col-6 mx-auto">
                    <a href="{% url 'core:create_playlist_page' 1 %}" class="btn" onclick="spinner()"><i
                            class="far fa-play-circle"></i>Crear Playlist</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="outer-container">
                <h3>Escucha esta selección para tus momentos de Relajación.</h3>
                <div class="inner_container">
                    {% for song in relax_songs %}
                    <p>{{song.0}} - {{song.1}}</p>
                    {% endfor %}
                </div>
                <div class="d-grid gap-2 col-6 mx-auto">
                    <a href="{% url 'core:create_playlist_page' 2 %}" class="btn" onclick="spinner()"><i
                            class="far fa-play-circle"></i>Crear Playlist</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="outer-container">
                <h3>Escucha esta selección cuando la Tristeza llegue a ti.</h3>
                <div class="inner_container">
                    {% for song in sad_songs %}
                    <p>{{song.0}} - {{song.1}}</p>
                    {% endfor %}
                </div>
                <div class="d-grid gap-2 col-6 mx-auto">
                    <a href="{% url 'core:create_playlist_page' 3 %}" class="btn" onclick="spinner()"><i
                            class="far fa-play-circle"></i>Crear Playlist</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock contents %}