{% extends 'core/base.html' %}

{% block title %} Playlist {% endblock title %}

{% block contents %}

<div class="container">
    <div class="row">
        <div class="start-div">
            <p>Aquí están las listas de reproducción, elige cuáles crear en tu cuenta:</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="outer-container">
                <h3>Escucha esta selección cuando la Felicidad te atrape.</h3>
                <div class="inner_container">
                    {% for song in happy_songs %}
                    <p>{{song.0}} - {{song.1}}</p>
                    {% endfor %}
                </div>
                <div class="d-grid gap-2 col-6 mx-auto">
                    <a href="#" class="btn">Crear Playlist</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="outer-container">
                <h3>Escucha esta selección para tus momentos de Relajación.</h3>
                <div class="inner_container">
                    {% for song in relax_songs %}
                    <p>{{song.0}} - {{song.1}}</p>
                    {% endfor %}
                </div>
                <div class="d-grid gap-2 col-6 mx-auto">
                    <a href="#" class="btn">Crear Playlist</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="outer-container">
                <h3>Escucha esta selección cuando la Tristeza llegue a ti.</h3>
                <div class="inner_container">
                    {% for song in sad_songs %}
                    <p>{{song.0}} - {{song.1}}</p>
                    {% endfor %}
                </div>
                <div class="d-grid gap-2 col-6 mx-auto">
                    <a href="#" class="btn">Crear Playlist</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock contents %}